<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">
<head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>top page</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />
    <!-- jQuery読み込み -->
   <script type="text/javascript" th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
    <!-- BootstrapのJS読み込み -->
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

</head>
<!--
<style>
hi{
	font-size: 18pt; font-weight: bold; color: gray;
}

body {
	font-size: 13pt; color: gray; margin: 5px 25px;
}

pre{
	border: solid 3px #ddd; padding: 10px;
}

tr {
	margin: 5px;
}

th {
	padding: 5px;color: white;background: darkgray;
}

td {
	padding: 5px;color: black;background: #f0f0f0;
}
</style> -->

<body>

<div class="container">
<h1 th:text="新規ユーザー登録">Helo page</h1>
<pre th:text="${data}"/>


 <table class="table table-striped">
<form method="post" action="/" th:object="${formModel}">

<tr>
	<td><label for="id">ユーザー名</label></td>
	<td><input type="text" name="userName" th:value="*{userName}"/></td>
</tr>
<tr>
	<td><label for="loginId">ログインID</label></td>
	<td><input type="text" name="loginId" th:value="*{loginId}"/></td>
</tr>
<tr>
	<td><label for="LoginPassword">ログインパスワード</label></td>
	<td><input type="password" name="loginPassword" th:value="*{loginPassword}"/></td>
</tr>
<!-- <tr>
	<td><label for="userName">メモ</label></td>
	<td><textarea name="memo" th:text="*{userName}" cols="20" rows="5"/></td>
</tr> -->
<tr>
<td></td><td><input type="submit"  value="登録" class="btn btn-info"/></td>
</tr>
</form>
</table>

 <table class="table table-striped">
<tr><th>ID</th><th>ログインID</th><th>ログインパスワード</th><th>ユーザー名</th></tr>
<tr th:each="obj:${datalist}" >
	<td th:text="${obj.id}">テスト</td>
	<td th:text="${obj.loginId}">ログイン</td>
	<td th:text="${obj.loginPassword}">パスワード</td>
	<td th:text="${obj.userName}">名前</td>
</tr>
</table>

</div>

</body>
</html>