<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ヘッダー</title>
</head>
<body>

<header  th:fragment="header"style="margin-bottom: 200px;">

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" >
      <a class="navbar-brand" th:href="@{/}">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a th:if="${!(session.loginFlg=='1')}"　class="nav-link" th:href="@{/goLogin}">ログイン </a>
          </li>
          <li class="nav-item">
            <a  th:if="${session.loginFlg=='1'}" class="nav-link " th:href="@{/myPage}">マイページ</a>
          </li>
          <li class="nav-item">
            <a  th:if="${session.loginFlg=='1'}" class="nav-link " th:href="@{/logout}">ログアウト</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/goUserCreate}">ユーザー登録</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/index}">コンテンツ一覧</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
</header>

</body>
</html>