<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>みんなのブックマーク</title>

<!-- BootstrapのCSS読み込み -->
<link rel="stylesheet" media="all"
	th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />
<!-- jQuery読み込み -->
<script type="text/javascript"
	th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
<!-- BootstrapのJS読み込み -->
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</head>
<body>

	<div th:replace="header"></div>
	<div class="container" th:with="page = ${contentsList}">

		<h1 class="display-4 font-italic text-primary">みんなのブックマーク</h1>

		<div th:each="obj:${contentsList}" style="margin-top: 30px;">

			<form action="/contentsDetail" method="post">
				<div class="col-md-9 col-lg9">
					<div class="card mb-9 box-shadow">
						<a href="" th:href="@{${obj.url}}" class="card-header"
							　th:text="${obj.title}"></a>
						<h4 class="my-0 font-weight-normal"></h4>
						<div class="card-body">
							<h1 class="card-title pricing-card-title">
								<small class="text-muted"></small>
							</h1>
							<ul class="list-group-flush mt-9 mb-9">
								<li class="list-group-item" th:text="'ユーザー名:'+${obj.loginId}"></li>
								<li class="list-group-item" th:text="'コメント:'+${obj.comment}"></li>
							</ul>
							<button type="submit" name="contentsId"
								th:value="${obj.contentsId}" class="btn btn-success">ブックマーク詳細</button>
						</div>
					</div>
				</div>
			</form>

		</div>

		<div th:replace="pagenation"></div>

	</div>

</body>
</html>