<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">
<head>
 <meta charset="utf-8">
<title>マイページ</title>
<!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />
<!-- jQuery読み込み -->
    <script type="text/javascript" th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
<!-- BootstrapのJS読み込み -->
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</head>
<body>


<table class="table table-striped">
<tr><th>タイトル</th><th>状態</th><th>コメント</th></tr>
<tr th:each="obj:${contentsList}" >
	<td th:text="${obj.title}"></td>
	<td th:if="${obj.readStatus=='0'}" th:text="後で読む" ></td>
	<td th:if="${obj.readStatus=='1'}" th:text="読み終わった" ></td>
	<td th:text="${obj.comment}"></td>
</tr>
</table>


<form action="/goContentsCreate">
<input type="submit" value="ブックマーク登録" class="btn btn-primary">
</form>

</body>
</html>