<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">
<head>
 <meta charset="utf-8">
<title>マイページ</title>
<!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />
<!-- jQuery読み込み -->
    <script type="text/javascript" th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
<!-- BootstrapのJS読み込み -->
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</head>
<body>



<form action="/goContentsCreate">
<input type="submit" value="ブックマーク登録" class="btn btn-primary">
</form>

</body>
</html>