<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">
<head>
 <meta charset="utf-8">
<title>マイページ</title>
<!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />
<!-- jQuery読み込み -->
    <script type="text/javascript" th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
<!-- BootstrapのJS読み込み -->
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</head>
<body>


<div  th:each="obj:${contentsList}" style="margin-top: 30px;">

<div class="col-md-10">
       <div class="card mb-10 box-shadow">
            <a href="" th:href="@{${obj.url}}" class="card-header" 　th:text="${obj.title}"></a>
                <h4 class="my-0 font-weight-normal"></h4>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"> <small class="text-muted"></small></h1>
                <ul class="list-group-flush mt-10 mb-10">
                	<!-- <li class="list-group-item" th:text="${obj.loginId}"></li> -->

                    <li class="list-group-item" th:if="${obj.readStatus=='0'}" th:text="後で読む"></li>
                    <li class="list-group-item" th:if="${obj.readStatus=='1'}" th:text="読み終わった" ></li>
                    <li class="list-group-item" th:text="${obj.comment}"></li>
                </ul>
            </div>
        </div>
</div>

</div>

<form action="/goContentsCreate">
<input type="submit" value="ブックマーク登録" class="btn btn-primary">
</form>

</body>
</html>