<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップ画面</title>

<!-- BootstrapのCSS読み込み -->
<link rel="stylesheet" media="all"
	th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />
<!-- jQuery読み込み -->
<script type="text/javascript"
	th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
<!-- BootstrapのJS読み込み -->
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</head>
<body>

	<div th:replace="header"></div>

	<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
		<p class="lead mb-0">
			エンジニア初学者の方を対象とした、ブックマーク共有&整理サイト！<br>
		<h1 class="display-4 font-italic text-success">bukumashare</h1>
		<p class="lead my-3">
			このサイトでは、自分のブックマークの既読、未読の整理、カテゴリ分けなどを行うことができます<br>
			既読のブックマークはシェアされ、みんなのブックマークページで他ユーザーのブックマークしたページを見ることができます。
		</p>
		<p>
			<a class="btn btn-lg btn-success" th:href="@{/index}" role="button">みんなのブックマークを見る</a>
		</p>
	</div>

</body>
</html>