<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップ画面</title>

<!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />
<!-- jQuery読み込み -->
    <script type="text/javascript" th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
<!-- BootstrapのJS読み込み -->
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:replace="header"></div>


  <div class="jumbotron">
        <h1 class="display-3">Jumbotron heading</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
  </div>

</body>
</html>